
{{#each article}}

<a href="{{this.link}}">
<h1 class="center" id="Panda"><a href="{{this.link}}">{{this.title}}</a></h1>

<a href="{{this.link2}}">
<h2 class="center" id="Panda1"><a href="{{this.link2}}">{{this.title2}}</a></h2>

<h3 class="center" id="Panda2">News Update 2</h3>

<h4 class="center" id="Panda3">News Update 3</h4>

{{/each}}





<div1></div1>

